@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {overflow-y: scroll; }

body {
    background-color: #51a7b6;
    font-family: 'Droid Sans', sans-serif;
    font-size: 100%;
}

img {
  max-width: 100%;
  margin-bottom: 15px;
}

a {
    text-decoration: none;
}

div[role="main"], footer, #logo {
    width: 70%;
    margin: auto;
}

header {
    position:relative;
    height: 150px;
    overflow:hidden;
}

#header-background {
    position:absolute;
    left:0;
    right:0;
}

#cloud-01 {
    background: url('/img/clouds1.png') repeat-x;
    position:absolute;
    top:10px;
    
    width: 100%;
    height: 200px;

    margin-right: 400px;
    z-index: -1;
}

                                                                                                      
#cloud-02 {	
    background: url('/img/clouds2.png') repeat-x;
    position: absolute;
    top:75px;
    
    width: 100%;
    height: 200px; 
}


#logo img{
   height: 47%;
   z-index: 9000;
}

#logo {
    text-align: right;
    margin-top: 40px;
    z-index: 9000;
}

nav#menu {
    font-family: 'BebasNeueRegular';
    font-size: 2.5em;
    color: white;
    text-align: right;
    width: 15%;
    position: fixed;
    padding-top: 5%;
}

nav#menu ul li {
    list-style-type:  none;
}

nav#menu ul li a {
    text-decoration: none;
    color: white;
}

nav#menu ul li.selected a, #language a.selected {
    color: #777;
}

.content, .title {
    margin-left: 25%;
}

.content p {
    margin-top: 5px;
    text-align: justify; 
}

.title h1 {
    font-family: 'BebasNeueRegular';
    font-size: 3.1em;
    margin: 10px 0px 0px 0px;
}

footer {
       text-align: center;
}

.left-img {
    float: left;
    height: 45%;
    width:  45%;
}

#contacts {
    float: left;
    padding-left: 5%;
    padding-top: 4%;
}

#social a, #social a:visited {
    color: #333;
}

#social {
    padding: 0;
    margin: 0;
}

#social li {
    list-style-type:  none;
    margin-bottom: 2%;
}

#language {
    font-family: 'Bebas Neue';
    color:  white;
    font-size: 1.5em;
    position: absolute;
    left: 26%;
    top: 10%;
}

#language a {
    font-family: 'Bebas Neue';
    color:  white;
}

blockquote {
font-family: 'Bebas Neue';
font-size: 30px;
margin: 2% 0 0 0;
line-height: 1.45;
position: relative;
color: #383838;
text-align: right;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: 19%;
top: -33%;
color: #7a7a7a;
}

blockquote cite {
color: white;
font-size: 25px;
display: block;
margin-top: -5px;
text-align: right;
font-style: normal;
}
 
blockquote cite:before {
content: "\2014 \2009";
}


.content p.quote {
    font-family: 'BebasNeueRegular';
    font-size: 30px;
    text-align: right;
    margin: 0;
}

.label {
    font-weight:bold;
    color: #383838;
}

.project-name {
    font-weight:bold;
    font-size: 40px;
    font-family: 'BebasNeueRegular';
    margin: 0;
    color: #383838;
}

h1 {
    font-family: 'BebasNeueRegular';
    font-size: 30px;
    margin: 0;
    
}

.page {
    margin-bottom: 50px;
}

.project {
    margin-top: 50px;
    margin-bottom: 50px;
}

hr {

background-color: #333;
height: 1px;
}